.wraper {
    display: flex;
    height: 90vh;
}

.side-bar {
    height: 100%;
    width: 250px;
    background-color: #00ADEF;
}

.main-area {
    height: 100%;
    flex-grow: 1;
    background-color: #eee;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.side-bar ul li {
    color: white;
    padding: 20px 30px;
    width: 100%;
    cursor: pointer;
}

.side-bar ul li:hover {
    background: #01678f;
}

.link-active {
    background: #01678f;
    border: none;
}